---
import { Content } from "@/content/pages/now.mdx";
import PageLayout from "@/layouts/Base.astro";

const meta = {
  title: "Now",
  description: "Notes I have jotted down about different topcis",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-12">/now</h1>
  <p class="mb-4">Updated from time to time with what I'm doing and thinking about</p>
  <article
    class="prose prose-sm prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-muted prose-headings:hover:before:text-accent sm:prose-headings:before:content-['#'] sm:prose-th:before:content-none"
  >
    <Content />
  </article>
</PageLayout>
